.main-category-card{
    /* background-color: rgb(255, 0, 0); */
    min-height: 300px;
  
}

.parrentCtegory{
  
   /* background-color: blue; */
   padding: 15px;
  
}
.card-title{
    font-size: 18px;
    text-align: center;
    color: rgb(255, 255, 255);

}
.card{
    border-color:white;
  

}
.main-category-title{
 color: rgb(65, 65, 65);
 
  

}




  