.singleview-image{
    max-height: 100px; 
    max-width: 80px;
    padding: 8px;
   

}
.more-pic{
    overflow-y: scroll;
    
}
.main-single-view{
    padding: 10px;
}
.single-view-header{
    min-height: 110px;
    background-color: var(--primary-faded-brown);
    display: flex;
    justify-content: center;
    border-bottom-right-radius : 0 !important;
    border-bottom-left-radius : 0 !important;
   
}
.single-view-banner{
    background-color:var(--primary-header-gray);
   
    border-top-right-radius : 0 !important;
    border-top-left-radius : 0 !important;
    border-bottom-right-radius : 0 !important;
    border-bottom-left-radius : 0 !important;
    
}
.single-view-body{
    background-color:var(--primary-header-gray);     
    border-top-right-radius : 0 !important;
    border-top-left-radius : 0 !important;
    padding: 20px;

}
.single-view-banner-row{
    display: flex;
    align-items: center;
}
.single-view-profile-pic{ 
    max-height:90px;
    max-width: 90px;
    min-width: 60px;
    min-height: 60px;
    /* padding-top: 9px; */
    /* background-color: aqua; */
    border-radius: 50%;
   
}

.single-view-rating{
    padding: 10px;
}
.single-view-title{
    font-size: 25px;
    font-weight: bold;
    color: var(--primary-coffie);
}
.single-view-text{
    padding: 20px;
}
.single-view-p-tag p{
    margin-bottom: 0;
}
.single-view-time{
    color: var(--primary-coffie);
}
.single-view-connect-btn{
    background-color: var(--primary-faded-brown);
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
.single-view-btn-card{
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-coffie);
    outline: none;
    border: none;
}
.anwae{
    display: flex;
    justify-content: space-around;
}
.single-view-body-text{
    padding: 10px;
}

/* ------------review style---------- */
.main-review-card{
    min-height: 100px;
    height: auto; padding: 20px;
    padding: 15px;
    margin-top: 10px;
}
.single-review-card{
    /* background-color: aqua; */
    border: 1 !important;
    border-color:var(--primary-coffie);
    padding: 15px;
    margin-top: 12px;
    
   
}
.review-style{
    color: gray;
    font-size: 13px;
    padding-top: 10px;
}
.review-name{
            font-size: 14px;
            color: rgba(0, 0, 0, 0.837);
}
.review-date{
    color: gray;
    font-size: 9px;
   


}
.review-profile{
    max-height: 50px;
    max-width: 50px;
    padding: 8px;
    border-radius: 50%;
}

.post-review-input{
    border: none;
}
.post-btn{
    width: 96px;
    border-radius: 20px;
    font-size: 12px;
    height: auto;
    background-color:var(--primary-coffie);
    border: none;
    outline: none;
}
.post-main-row{
    align-items: center;
    justify-content: center;
    padding: 9px;
}



