.body-conncet{
    height: 80vh;
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-top: 20px;
}

.conncetus-card{
    height: 400px;
    width: 400px;
    padding: 10px;
    /* background-color:var( --primary-header-gray); */
    }

    .connect-input{
        outline: none;
        border: 0;
        /* border-color: gray; */
        background-color:var( --primary-header-gray);
        border-radius: 15px;
        color: rgb(93, 92, 92);
        padding: 6px;
       
    
      

    }  
    .connect-textarea{
    
        outline: none;
        background-color:var( --primary-header-gray);
        border-radius: 15px;
        border: 0;
        margin-top: 10px;
        color: rgb(93, 92, 92);    
        padding: 6px;

       

    }  
    .btn-connect{
        background-color: var(--primary-coffie);
    }
    .btnConnect-parent{
        display: flex;
        justify-content: center;
        padding-top: 10px;

    }
   