.sidebar {
    width: 250px;
    min-height: 100vh;
    background-color:var(--primary-header-gray);
    font-size: 20px;
    padding-top: 10px;


}
.sidebar-heading{
    display: flex;
    /* margin-left: 35px; */
    margin-bottom: 20px;
    color: #330867;
    cursor: pointer;
   
}
.sidebar-icon{
    margin-right: 25px;

    
}
.sidebar-icon-link{
    text-decoration: none;
    color: var(--primary-coffie);
}
.option{
    font-weight: bold;
}
.admin-sidebar-menu{
    font-size: 17px;
}