 
.top-section-card-admin{
    background-color: var(--primary-coffie);
    color: #5d1111;
    min-height: 100px;
    border-radius: 20px 20px 20px 20px; /*TL TR BR BL*/
}
.banner-welcome-admin{
    color: #bdbdbdab;
    padding: 10px;
    font-size: 20px;
    font-variant: small-caps;
}
.top-radius-banner-admin{
    border-radius: 20px 20px 20px 20px !important; /*TL TR BR BL*/
    /* border-top-right-radius: 20px !important ;
    border-top-left-radius: 20px; */
}
.dashbord-banner-title-admin{
    font-size: 15px;
    color: gray;
    padding: 10px;
}
.icon-banner-parent-admin{
    
    display: flex;
 justify-content: center;
 align-items: center;
 }
 .dashicon-size-admin{
    max-width: 90px;
    max-height: 90px;
    padding: 10px;
}