----color--variable------
:root {
  --blue:#578777;
  --YELLOW:#feb958;
  --RED:#971e1f;
  --GREEN:#3db477;
  --ROSE:#f0a6aa;
  --VIOLET :#9575cd;
  --primary-green :#214a3f;
  --primary-brown :#d1a184;

}




.Container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding: 0,20px;

}
/* ----------header------- */
.header-logo img{
  height: 30px;
  width: 30px;
}








/* ---------banner--------- */

.banner{
  /* background-color: rgb(149, 146, 146); */
  background-image: linear-gradient(to right, #578777, #f0a6aa);
 

}
.banner-body{
  min-height: 350px;
  
 



}
.right-banner{
  flex: 1;
}
.left-banner{
  flex: 1;
}



/* -----main category-------- */


