----color--variable------
:root {
  --blue:#578777;
  --YELLOW:#feb958;
  --RED:#971e1f;
  --GREEN:#3db477;
  --ROSE:#f0a6aa;
  --VIOLET :#9575cd;
  --primary-green :#214a3f;
  --primary-brown :#d1a184;

}




.Container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding: 0,20px;

}
/* ----------header------- */
.header-logo{
  height: 30px;
 
}








/* ---------banner--------- */

.banner{
  background-color: rgb(213 213 213 / 48%);
  /* background-image: linear-gradient(to right, #578777, #f0a6aa); */

 

}
.banner-body{
  min-height: 92vh;


}
.right-card{
  background-color:#214a3f  !important; 
  min-height: 500px  !important;
  width: 330px  !important;
  border-radius: 50px  !important;
  border-color:rgb(213, 213, 213)  !important;
 
}
.banner-text{
  color: #000000c2;
  font: caption;
  


}
 .search_input{
  /* border: 5px; */
  /* outline: 0; */
  /* background: none; */
  /* width: 10px; */
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear; 
  background-color:#ffffff;
  border-radius: 20px;
border-color: white;
 }
 .search-butn{
  line-height: 40px;
  /* transition: width 0.4s linear;  */
  background-color:#214a3f;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  width: 85px;
  border-color: #214a3f;
 }





/* -----main category-------- */


