/* ----color--variable------ */
:root {
  --blue:#578777;
  --YELLOW:#feb958;
  --RED:#971e1f;
  --GREEN:#3db477;
  --ROSE:#f0a6aa;
  --VIOLET :#9575cd;
  --primary-green :#214a3f;
  --primary-brown :#d1a184;
  --primary-coffie :#6a3921 ;
  --primary-faded-brown: #986248;
  --primary-header-gray:#f8f9fa;


}



input:focus-visible {
  outline:none;
  
}

select:focus-visible {
  border:none;
 
  outline: none;
}




.Container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding: 0,20px;

}
/* ----------header------- */
.header-logo{
  height: 30px;
 
}
.logo-text{
  font-size: 20px;
  color: #986248;
  font-family: fantasy;
  margin-bottom: 0;

}







/* ---------banner--------- */

.banner{
  background-color: rgb(213 213 213 / 48%);
  /* background: linear-gradient(to right, rgba(255,255,255,0) 20%,
              rgba(255,255,255,1)),url(./components/image/c2.png) ; */
  /* background-image: linear-gradient(to right, #578777, #f0a6aa); */

 

}
.banner-cover{
  object-fit: cover;
  min-height: 50%;
  max-width:100%;
  padding: 10px;
  border-radius: 20px;

}
.banner-body{
  min-height: 92vh;


}
.right-card{
  background-color:white  !important; 
  /* background-color:var(--primary-coffie)  !important;  for bagcord whitw */
  /* min-height: 500px  !important; --for banner card height*/ 
  width: 330px  !important;
  border-radius: 50px  !important;
  border-color:rgb(213, 213, 213)  !important;
 
 
}
.banner-text{ 
  color: #000000c2;
  font: caption;
  padding-bottom: 15px;
  


}
 .search_input{
  /* border: 5px; */
  /* outline: 0; */
  /* background: none; */
  /* width: 10px; */
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear; 
  background-color:#ffffff;
  border-radius: 20px;
/* border-color: white; */
  width: 100%;
border: none;
 }
 .search-butn{
  line-height: 40px;
  /* transition: width 0.4s linear;  */
  background-color:var(--primary-coffie);
  border-radius: 20px;
  color: rgb(255, 255, 255);
  width: 85px;
  
  border-color: white;

 }
 .dropdown-search{
  border: none;
  background-color: var(--primary-coffie);
  color: #ffffffde;
  border-radius: 20px;
  /* height: auto; */
  min-height: 46px;
  padding: 10px;
  letter-spacing: 0.1px;
  text-align: center;
 }
 .left-search-card{
  border-radius: 20px !important;
  display: grid !important;
  grid-template-columns:125px auto 85px !important;
  
 }
 .dropdown-option{
  border-radius: 20px;

 }





/* -----main category-------- */


